.top-section {
    background-color: #f2f2f2;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
.left-buttons {
    display: flex;
    justify-content: flex-start;
}

.right-button {
    text-align: right;
    position: absolute;
    top: 1rem;
    right: 0;
}
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }